.todoapp h2 {
  position: absolute;
  top: -40px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  padding-bottom: 20px;
}

.bottom {
  color: #dfdfdf
}

.loader {
  display: inline;
}

.drag {
  border-left-width: thick;
  border-left-style: solid;
  border-left-color: rgba(175, 47, 47, 0.15);
}

.inprogtoggle {
  opacity: 0;
  position: absolute;
}


.todo-list li .inprogtoggle:after {
  text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
  position:absolute;
	top: 0;
	bottom: 0;
  right:10%;
   /* Mobile Safari */
  content:  "\f017";
}

.todo-list li .inprogtoggle:after:checked {
  content:  "\f017";
  color: orange;
}

.css-checkbox { position: absolute; overflow: hidden; clip: rect(0 0 0 0); height: 1px; width: 1px; margin: -1px; padding: 0; border: 0; }#inputPreview { display: flex; gap: 20px; justify-content: center;	}.css-checkbox + label { position: relative; font-size: 14px; cursor: pointer; display: inline-flex; align-items: center; height: 42px; color: rgb(0, 0, 0); }.css-checkbox + label::before { content: " "; display: inline-block; vertical-align: middle; margin-right: 3px; width: 40px; height: 40px; background-color: white; border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204); border-radius: 2px; box-shadow: none; }.css-checkbox:checked + label::after { content: " "; background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBmaWxsPSIjZmY5ZDAwIiBkPSJNNDggMEgzMzZDMzYyLjUgMCAzODQgMjEuNDkgMzg0IDQ4VjQ4Ny43QzM4NCA1MDEuMSAzNzMuMSA1MTIgMzU5LjcgNTEyQzM1NC43IDUxMiAzNDkuOCA1MTAuNSAzNDUuNyA1MDcuNkwxOTIgNDAwTDM4LjI4IDUwNy42QzM0LjE5IDUxMC41IDI5LjMyIDUxMiAyNC4zMyA1MTJDMTAuODkgNTEyIDAgNTAxLjEgMCA0ODcuN1Y0OEMwIDIxLjQ5IDIxLjQ5IDAgNDggMHoiLz48L3N2Zz4="); background-repeat: no-repeat; background-size: 29px 29px; background-position: center center; position: absolute; display: flex; justify-content: center; align-items: center; margin-left: 0px; left: 0px; top: 0px; text-align: center; background-color: transparent; font-size: 10px; height: 42px; width: 42px; }



.todo-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.todo-list li .inprogtoggle {
		background: none;
	}

	.todo-list li .inprogtoggle {
		height: 40px;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}




